
$color-button: #FE9013;
$color-link-hover: #F9804B;
$color-link: #FFFFFF; 
$color-text: #333B41;
$color-bordered: #FE9013;
$color-header: #000000;
$color-background: #E5E5E5;

$content-width: 1161px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;