%font {
    font-family: 'Roboto', Verdana, sans-serif;
}

%transition {
    transition: all .3s ease-out;
}

%columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}