.about {
    position: relative;
}

.about__wrapper {
    padding: 140px 0 180px 0;
}

.about__ded {
    flex-basis: 1;
}

.about__content {
    max-width: 465px;
    margin-left: 87px;
    flex-basis: 1;
}

.about__title {
    margin-bottom: 20px;
}

.about__description {
    margin-bottom: 54px;
}

.about__questions {
    margin-bottom: 34px;
}

.about__flower {
    position: absolute;
    top: 12px;
    right: 0;
}