.promo {
    background-image: url("../img/Panda-bc.png");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.promo__content {
    float: right;
}

.promo__img {
    position: relative;
    padding: 15px 0 60px;
}

.promo__circle {
    position: absolute;
    top: 14px;
    left: -80px;
}

.promo__text {
    position: relative; 
    margin-top: 86px;
}

.promo__buttons {
   margin-left: 90px;
}